:host {
  /* --dxp-g-neutral-3: #fff; */
}

.common-tab {
  border: none;
  background-color: white;
  /* border-bottom: 4px solid yellow; */
}

.tab-2 {
  margin-left: 3.5625rem;
}

.tab-1 {
  margin-left: 3.125rem;

}

.tab-1:focus {
  border-bottom: 0.25rem solid #FDC300;
  font-weight: bold;
}

.tab-2:focus {
  border-bottom: 0.25rem solid #FDC300;
  font-weight: bold;
}

.active {
  border-bottom: 0.25rem solid #FDC300;
  font-weight: bold;
}

.data-conatiner {
  width: 280px;
  padding: 0.625rem 0rem 3.375rem 2.125rem;
  flex-shrink: 1;
  border: 1px solid black;
  margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  position: relative;
}

.data-conatiner:hover {
  border: 1px solid #fdc300;
}

.Name-wrapper {
  font-weight: bold;
  margin-bottom: 0.625rem;
  margin-top: 1.9375rem;
}


.main-conatiner-wrapper {
  display: flex;
  margin-top: 0.9375rem;
  flex-wrap: wrap;
  
}

/* show more Button */
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2.1875rem;
  margin-top: 0.9375rem;
}

.btn-wrapper-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2.1875rem;
  margin-top: 0.9375rem;

}

.common-btn-hover {
  background-color:#EAECE7;
  border: 1px solid black;
}

.common-btn-hover:hover {
  background-color: #fdc300;
}

.btn-label {
  border: none;
  background-color: white;

}

.btn-wrapper-container {
  margin-top: 1.75rem;
}

/* MODAL  */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.slds-modal-container {

  width: 45%;
  flex-shrink: 0;
  background: #FFF;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modal-head {
  font-size: 20px;
}

.modal-content {
  text-align: center;
  padding: 40px;
  border: none;
    margin: 0;
}

.slds-modal__header {
  background-color: #fdc300;
  padding: 1.25rem;
}

.empty-conatiner
{
  display: grid;
  justify-content: center;
  margin: 10% auto;
}
.empty-content-1
{
  text-align: center;
  font-size: 1.125rem;
}
.close-btn {
  position: absolute;
  top: -39%;

}

.default-btn
{
  border-radius: 0.625rem;
  border: 0.0625rem solid black;
  padding: 0.125rem;
  background: #B3B2A8;
  position: absolute;
  /* left: 20%; */
  right: 3%;
  
}
.modal-footer 
{
  padding: .75rem;
  display: flex;
  justify-content: space-evenly;
}

.close-btn
{
  border: none !important;
}
.common-footer-btn
{
  background: #EAECE7;
  padding: 0.125rem;
  width: 122px;
  color:black;
  border:1px solid;
}

.tab-line
{
  margin: 0;
}

.btn-label:hover
{
   text-decoration: underline;
  text-decoration-color: #FDC300;
}
.common-footer-btn:hover
{
  background-color: #FDC300;
}

/* mobiles */
@media only screen and (max-width: 576px) {

  .data-conatiner {
    margin: auto;
    margin-top: 0.9375rem;
    width: 280px !important;
    padding: 0.625rem 0rem 3.375rem 2.125rem !important
  }

  .common-btn-hover {
    margin-top: 0.9375rem;
  }

  .slds-modal-container {
    width: 85%;
    /* height: 190px; */
    /* flex-shrink: 1; */
    background: #FFF;
  }

  .modal-footer {
   
    display: flex;
    justify-content: space-evenly;


  }

  .close-btn {
    top: -44%;
  }

  .modal-content {
    /* padding: 0%; */
    padding: 10px;

  }
  .outer-container {
    margin-top: 50%;
}
.tab-wrapper{
  display: flex;

  margin-left: 10%;
  margin-top: 0.625rem;
}

.empty-content-1
{
  margin-bottom: 0% !important;
}

}

/* Tab */
@media only screen and (max-width: 991px) {
 

.data-conatiner {
  width: 246px;
  padding: 0.625rem 0rem 0.3125rem 1.875rem;
 }

}