:host {
  /* --dxp-g-neutral-3: #fff; */
}

.common-tab {
  border: none;
  background-color: white;
  /* border-bottom: 4px solid yellow; */
}

.tab-2 {
  margin-left: 57px;
}

.tab-1 {
  margin-left: 50px;

}

.tab-1:focus {
  border-bottom: 4px solid yellow;
  font-weight: bold;
}

.tab-2:focus {
  border-bottom: 4px solid yellow;
  font-weight: bold;
}

.active {
  border-bottom: 4px solid yellow;
  font-weight: bold;
}

.data-conatiner {
  width: 280px;
  /* height: 236px; */
  padding: 21px 0px 54px 34px;
  flex-shrink: 1;
  border: 1px solid black;
  margin: 5px 5px 5px 5px;

}

.data-conatiner:hover {
  border: 1px solid #fdc300;
}

.Name-wrapper {
  font-weight: bold;
  margin-bottom: 10px;
}


.main-conatiner-wrapper {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* show more Button */
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 15px;
}

.btn-wrapper-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 15px;
}

.common-btn-hover {
  background-color: white;
  border: 1px solid black;
}

.common-btn-hover:hover {
  background-color: #fdc300;
}

.btn-label {
  border: none;
  background-color: white;
  text-decoration: underline;
}

.btn-wrapper-container {
  margin-top: 28px;
}

/* MODAL  */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.slds-modal-container {

  width: 45%;
  flex-shrink: 0;
  background: #FFF;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modal-head {
  font-size: 20px;
}

.modal-content {
  text-align: center;
  padding: 15px;
}

.slds-modal__header {
  background-color: #fdc300;
  padding: 20px;
}

.modal-footer {
  margin-bottom: 10px;
    margin-right: 10px;
}

.close-btn {
  position: absolute;
  top: -39%;

}

.default-btn
{
  border-radius: 10px;
  border: 1px solid black;
  padding: 2px;
  background: #B3B2A8;
  margin-left: 70%;
  
}

















/* mobiles */
@media only screen and (max-width: 576px) {

  .data-conatiner {
    margin: auto;
    margin-top: 15px;
  }

  .common-btn-hover {
    margin-top: 15px;
  }

  .slds-modal-container {
    width: 85%;
    /* height: 190px; */
    /* flex-shrink: 1; */
    background: #FFF;
  }

  .modal-footer {
   
    display: flex;
    justify-content: space-evenly;

  }

  .close-btn {
    top: -44%;
  }

  .modal-content {
    padding: 0%;

  }
  .outer-container {
    margin-top: 50%;
}
.tab-wrapper{
  display: flex;

  margin-left: 10%;
  margin-top: 10px;
}



}

/* Tab */
@media only screen and (max-width: 991px) {
  /* .call-info {
    display: flex;
    justify-content: center;
  } */


}