.container-wrapper{
    margin: 10rem auto;
    width:calc(450 / 16 * 1rem);
    font-family: 'SunFont' !important;
    font-size: 16px;
}
.main-heading{
    text-align:center;
    color: black;
    margin-bottom:15px;
    font-size: 1.875rem !important;
}
.main-heading:hover{
    color: #fdc300;
}
.inner-container{
    background-color:white;
    color: black;
    padding:15px;
}
.helptxt-wrapper{
    text-align:center;
    word-wrap: break-word;
    margin-bottom:1rem;
}
.input-element {
    width: 65%;
    box-shadow: none;

    /* padding: 0.5rem 0rem 0.5rem 2rem; */
    font-size: 16px;
    letter-spacing: 0.1rem;
    display: block;
    margin: 0px auto;
    border-radius: 3.7px;
    /* border: 1px solid black; */
}

.input-element:hover {
    /* box-shadow: 1px 0px 2px 3px rgb(223 211 81 / 47%) !important; */
    /* outline-color: #1e1e13;
    outline-width: 6px; */
    border: 1px solid #fdc300  !important;
}
.input-element:focus-within {
    /* border: 1px solid black !important; */
    border: 1px solid #fdc300  !important;
}

/* input:focus::placeholder {
    color: transparent;
  } */
.email-error{
    margin-left:80px;
    color: red;
}

.button-wrapper{
    width:65%;
    margin:11px auto;
}

.login-form-button1 {
    /* padding: 7px; */
    background: #eaece7;
    border-radius: 3.7px;
    font-size: 1 rem;
    font-weight: 500;
    border: none;
    width: 7.6rem;
    height: 2.3rem;
    margin-top: 9px;
    border: 1px solid black;
    margin-right:29px;
}
.login-form-button2{
    /* padding: 7px; */
    background: #eaece7;
    border-radius: 3.7px;
    font-size: 1 rem;
    font-weight: 500;
    border: none;
    width: 7.6rem;
    height: 2.3rem;
    margin-top: 9px;
    border: 1px solid black;
}

.login-form-button1:hover{
    background-color: #fdc300;
}

.login-form-button2:hover{
    background-color: #fdc300;
}
@media only screen and (max-width: 768px) {
 .container-wrapper{
    margin: 8rem auto;
    width:22rem;
    font-family:'SunFont'!important;
    font-size: 16px;
}
.email-error{
     margin-left: 67px;
    color: red;
}
.login-form-button1 {
    /* padding: 4px; */
    background: white;
    border-radius:3.7px;
    font-size: 1 rem;
    font-weight: 500;
    border: none;
    width: 6rem;
    height: 2.3rem;
    margin-top: 9px;
    border: 1px solid black;
    margin-right:16px;
}
.login-form-button2{
    /* padding: 4px; */
    background: #eaece7;
    border-radius: 3.7px;
    font-size: 1 rem;
    font-weight: 500;
    border: none;
    width: 6rem;
    height: 2.3rem;
    margin-top: 9px;
    border: 1px solid black;
}

}