ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

.header {

    font-size: 1.25rem;
    font-style: normal;
    text-align: center;
    padding: 1.5625rem;
}

.show-toggle {
    display: block !important;
}

.address-label {
    border: none;
    background-color: white;
    position: relative;
    top: 1.875rem;
    margin-left: 0.0625rem;
}

.state-wrapper {
    bottom: 1.5625rem;
}

.street-label {
    position: relative;
    bottom: 3.75rem;
    margin-left: 0.3125rem;
    color: gray;
    font-weight: bold;
}

.required-field {
    color: #ff0000;
}

.required-field1 {
    color: #ff0000;
}

.Btn-address {
    width: 100%;
    padding: 0.9375rem;
    background-color: white;
    border: 0.0625rem solid black;
    z-index: 3;
    position: relative;
    background: transparent;
}

.Btn-country {
    width: 100%;
    padding: 0.9375rem;
    background-color: white;
    position: relative;
    z-index: 3;
    background: transparent;
    border: 1px solid black;
}

.state-btn {
    width: 100%;
    padding: 0.9375rem;
    background-color: white;
    border: 1px solid black;
    margin-top: 25px;
    position: relative;
    z-index: 3;
    background: transparent !important;

}

.state-requried-field {
    position: absolute;
    bottom: 0.5rem;
    left: 0.25rem;
}

.state-label-change {
    position: absolute;
    bottom: 0.375rem;
    left: 0.625rem;
    color: gray;
    font-weight: bold;
}

.label-remove {
    display: none;
}

.list-options-address {
    position: absolute;
    z-index: 4;
    background-color: #ffffff;
    width: 100%;
    border: 0.0625rem solid black;
    overflow: hidden;
    border-radius: 1mm;
}

.list-options {
    position: absolute;
    z-index: 4;
    background-color: #ffffff;
    width: 100%;
    border: 0.0625rem solid black;
    overflow: hidden;
    overflow-y: scroll;
    height: 18.75rem;
}

.list-options-state {
    position: absolute;
    z-index: 4;
    background-color: #ffffff;
    width: 100%;
    border: 0.0625rem solid black;
    overflow: hidden;
    overflow-y: scroll;
    height: 12.5rem;
}

.list-options-state-none {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    border: 0.0625rem solid black;
    overflow: hidden;
}

/* for firts and last name */
.common-field-wrapper {
    margin-top: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;


}

.inner-field-wrapper {
    position: relative;
    width: 100%;
}

.inner-field-wrapper label {
    position: absolute;
    top: 13%;
    left: 1%;
    color: black;
    text-align: center;
    /* font-family: Sans Serif Collection; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: gray;
    font-weight: bold;
}

.inner-phone-wrapper {
    position: relative;
    width: 100%;
}

.inner-phone-wrapper label {
    position: absolute;
    top: 18%;
    left: 4.5rem;
    color: black;
    text-align: center;
    /* font-family: Sans Serif Collection; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: gray;
    font-weight: bold;
}

.input-common-fields {
    width: 100%;
    padding-left: 0.3125rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 1mm;
    border: 0.0625rem solid #000;
    background: #FFF;
}

.labelup {
    display: none;
}

.input-Phone-fields {
    width: 100%;
    padding-left: 4.4375rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 1mm;
    border: 0.0625rem solid #000;
    background: #FFF;
    /* margin-left: 42px; */
}

.phone-number-field {
    height: 2.375rem;
    border-radius: 1mm;
    width: 10%;
    border: 0.0625rem solid black;
    position: absolute;
    background-color: white;
}

.input-Phone-fields:focus+.input-common-label {
    color: transparent;

    .required-field {
        color: transparent;

    }
}

.fname-label,
.lname-label,
.company-label,
.street-label,
.city-label,
.Zip-label,
.Phone-label {
    transition: all .2s ease-out;
}

.input-common-fields:focus+.input-common-label {
    color: transparent;

    .required-field {
        color: transparent;
    }
}

.text-street-fields:focus+.input-common-label {
    color: transparent;

    .required-field {
        color: transparent;
    }
}
.input-common-label
{
    user-select: none;
}

.text-street-fields {
    height: 4.375rem;
    resize: none;
    overflow: hidden;
}

.address-form {
    max-width: 75%;
    margin: auto;
    margin-bottom: 5.25rem;
    /* margin-left: 24%; */
}

.Name-field-wrapper {
    margin-top: 2.5rem !important;
    border-radius: 1mm;
    margin-bottom: 2.5rem !important;
}

.Zip-Phone-wrapper {
   margin-top: 1.5625rem !important;
   margin-bottom: 2.8125rem !important;
}

.options-list {
    padding: 0.3125rem 0rem 0.3125rem 0.625rem;
    width: 100%;
    display: block;
}

.button-common-field {
    height: 2.375rem;
    text-align: start;
    border-radius: 1mm;
}


.field-error {

    bottom: -1.1875rem;
    color: #E91919;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    /*  */
    position: absolute;
    /*  */
}
.field-error-zip
{
    color: #E91919;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    /*  */
    position: absolute;
}

.field-error-name {
    position: absolute;
    bottom: -1.1875rem;
    color: #E91919;
    top: 36px;
    font-size: 0.875rem;
}

.field-error-street {

    color: #E91919;
    font-size: 0.875rem;
    font-style: normal;
    position: absolute;
    top: 60px;

}

.street-address-wrapper {
    margin: 2.75rem 0;
    position: relative;

}

.field-error-city {
    color: #E91919;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.street-address-field {
    width: 100%;
    padding-bottom: 2.25rem;
    border-radius: 1mm;
    height: 4.375rem;
    border: 0.0625rem solid black;
}

.field-error-company {
    position: absolute;
    /* bottom: -19px; */
    color: #E91919;
    font-size: 0.875rem;
}

.company-field {

    width: 100%;
    height: 2.375rem;
    border: 0.0625rem solid black;
}

/* comapny */
.company-label {
    position: absolute;
    /* bottom: 32px; */
    top: 0.3125rem;
    left: 0rem;
    margin-left: 5px;
    color: gray;
    font-weight: bold;
}

.company-wrapper {
    position: relative;
    margin-top: 1.5rem;
}

.street-country-wrapper {
    margin-top: 0.9375rem;
}

.street-label {
    position: absolute;
    top: 0.3125rem;
    left: 0rem;
}

.checkbox-contaier {
    position: relative;
}

.checkbox {
    width: 0.9375rem;
    height: 0.9375rem;
    position: absolute;
    bottom: 0.25rem;
}

.checkbox-label {
    margin-left: 2.1875rem;
}

/*  button */

.button-wrapper {
    margin-top: 2.25rem;
}

.common-button {
    width: 122px;
    height: 38px;
    border-radius: 0.125rem;
    border: 1px solid #000;
    background: #EAECE7;
}

.cancel-button {
    margin-right: 3.4375rem;
}

.common-button:hover {
    background-color: #fdc300;
}


/* for border hover */
.border-common-fields:hover {
    border: 1px solid #fdc300;
    outline: none;
}

/*  position changing error */
.address-field {
    position: relative;
    /* parent */
}

.country-field {
    position: relative;
    /* parent */
}

/*  */
.dial-code {
    position: relative;
    /* left: 2px; */
    right: 15%;

}

.options-list:hover {
    background-color: #eaece7;
}

.options-list:hover {
    background-color: #eaece7;

}

.arrow {
    /* display: inline; */
    right: 1.25rem;
    position: absolute;
    bottom: 0.4375rem;
    z-index: 0;
    width: 1.25rem;  
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 10;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

.loader::after {
    content: "";
    width: 4.6875rem;
    height: 4.6875rem;
    border: 0.625rem solid #dddddd;
    border-top-color: #fdc300;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

/* new chnges */

.address-requried-field {
    left: 0.4375rem;
    position: absolute;
    top: 20%;
}

.country-requried-field {
    left: 6px;
    position: absolute;
    top: 13%;
}

.label-change {
    position: absolute;
    top: 19%;
    left: 0.8125rem;
    color: gray;
    font-weight: bold;
}

.label-change-street {
    position: absolute;
    top: 13%;
    left: 0.8125rem;
    color: gray;
    font-weight: bold;
}

.country-margin {
    margin-top: 1.875rem;
}

/* new change */
/* checkbox */

.Notification:hover {
    color: #fdc300;
}

.notification-confirmation {
    color: black;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.notification-confirmation {
    margin-bottom: 2.25rem;
    /* display: flex; */
    font-size: 0.9375rem;
}

.EmailNotification {
    width: 1rem;
    height: 1rem;
}

.EmailNotification:hover {
    border: 0.0625rem solid #fdc300;
}

.input-fields {
    outline: none;
    border: 1px solid black;
    color: black;
    border-radius: 1mm;
}

.Email-NotificationCheck-label {
    color: black;
    font-family: 'Salesforce sans' !important;
    display: inline;
    font-size: 0.875 rem;

}

.Email-NotificationCheck-label {
    /* margin-left: 15px; */
    padding: 0 15px;
}

.check-box-notification {
    margin-left: 5px;
}

.EmailNotification {
    width: 1rem;
    height: 1rem;
}

.input-fields:hover {
    outline: none;
    border: 1px solid #fdc300;

}

.input-fields:focus {
    outline: none;
    border: 1px solid #fdc300;
 
}

/* checkbox */
.fname-field:focus {
    border: 1px solid #fdc300;
    outline: none;

}

.border-common-fields:focus {
    border: 1px solid #fdc300;
    outline: none;

}

.selected-option {
    background-color: #b4b2a8;
}

.border-common-fields:hover {
    cursor: pointer;
}

.options-list:hover {
    cursor: pointer;
}

.input-common-label:hover {
    cursor: pointer;
}

input[type=checkbox]+label:before {
    content: "";
    background-color: white;
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    margin-bottom: 0.25rem;
    margin-left: -0.625rem !important;
    margin-right: 0.75rem;
}


/* Checkbox */
input[type=checkbox]+label {
    /* display: block; */
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}



input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "";
    background-color: white;
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    margin-bottom: 0.25rem;
    /* margin-left: 64px; */
    margin-right: 0.75rem;
}

input[type=checkbox]:checked+label::before {
    background-color: white;
    border-color: black;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='710' height='543' viewBox='0 0 710 543' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M248.4 542.64L0 294.24L81.672 212.584L248.392 379.317L627.659 0.0373535L709.331 81.6934L248.4 542.64Z' fill='black'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input[type=checkbox]:disabled+label::before {
    transform: scale(1);
}

input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
}

input[type=checkbox]+label:hover::before {
    border-color: #fdc300;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


@media only screen and (max-width: 576px) {
    .address-form {
        max-width: 95%;
    }

    .common-field-wrapper {
        column-gap: 1.25rem;
    }

    .Phone-label {
        /* left: 22%; */
        left: 20%;
        font-size: 0.9375rem;
    }

    .inner-phone-wrapper label {
        left: 28%;
        top: 14%;
    }

    .phone-number-field {
        width: 28%;

    }

    .dial-code {
        right: 0.375rem;
    }

    .Zip-label {
        top: 19% !important;
    }
   .field-error-street
   {
           top: 51px;
   }

}

/* for ipad */
@media only screen and (max-width: 991px) and (min-width:576px) {


    .phone-number-field {

        width: 18%;
        min-width: 2.375rem;
    }

    .inner-phone-wrapper>label {
        left: 19%;
    }



}

/*  */
/*  */
/*  */
/*  */