.custom-container{
    max-width:100%;
    width:100%;  
    margin: 0 auto;
    padding:0 16px;
}
@media only screen and (min-width: 576px) {
    .custom-container{
        max-width:550px;
        padding:0 8px;
    }
}

@media only screen and (min-width: 768px) {
    .custom-container{
        max-width:730px;
        padding:0 8px;
    }
}

@media only screen and (min-width: 992px) {
    .custom-container{
        max-width:970px;
        padding:0 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .custom-container{
        max-width:1150px;
        padding:0 8px;
    }
}

@media only screen and (min-width: 1400px) {
    .custom-container{
        max-width:1330px;
        padding:0 8px;
    }
}